body {
  padding-top: 75px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

#panel-right {
  width: 420px;
  margin-top: 1px;
}

#search-bar {
  margin: 5px 0 0 20px;
  float: right;
}

.modal {
  width: 400px;
  margin-left: -200px;
}

.modal form {
  margin: 0px;
}

.modal form p {
  margin: 0;
  padding: 0;
}

.modal form p input {
  margin: 6px 6px 6px 0px;
}

.modal .help-inline {
  margin-top: 3px;
  margin-bottom: 5px;
}

.input-append button.add-on {
  height: 28px;
  width: 30px;
  margin-top: 0px;
}

.hero-unit {
  background-image:url('../img/hero_bg.jpg');
  position: relative;
  height: 408px;
}

.hero-unit, .hero-unit h1, .hero-unit h2 {
  color: #fff;
  text-shadow: 0px 0px 2px #000,
               0px 0px 4px #000,
               0px 0px 8px #000,
               0px 0px 12px #000,
               0px 0px 20px #000,
               0px 0px 30px #000,
               0px 0px 50px #000,
               0px 0px 80px #000; 
}

.hero-unit p {
  position: absolute;
  padding-bottom: 60px;
  bottom: 0;
}

.container > hr {
  margin-top: 35px;
}

#panel-right > .btn, #panel-right > .btn-group {
  float: right;
}

#btn-login {
  margin-right: 6px;
}

#panel-right .dropdown-toggle {
  height: 28px;
  padding-bottom: 8px;
}

#panel-right ul {
  margin-top: 5px;
  z-index: -1;
}
